- name: Install Jenkins via Docker on Alpine
  hosts: jenkins
  become: true

  tasks:
    - name: Fix APK repositories
      shell: |
        echo "https://dl-cdn.alpinelinux.org/alpine/v3.22/main" > /etc/apk/repositories
        echo "https://dl-cdn.alpinelinux.org/alpine/v3.22/community" >> /etc/apk/repositories

    - name: Update APK cache
      command: apk update

    - name: Install Docker
      apk:
        name: docker
        state: present

    - name: Enable and start Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create Jenkins directories
      file:
        path: "/opt/jenkins/{{ item }}"
        state: directory
        owner: 1000
        group: 1000
        mode: '0755'
      loop:
        - ""
        - init.groovy.d
        - plugins

    - name: Jenkins init script
      template:
        src: templates/basic-security.groovy.j2
        dest: /opt/jenkins/init.groovy.d/basic-security.groovy
        owner: 1000
        group: 1000
        mode: '0644'

    - name: Run Jenkins container
      command: >
        docker run -d
        --name jenkins
        --restart unless-stopped
        -p 8080:8080
        -p 50000:50000
        -v /opt/jenkins:/var/jenkins_home
        -v /var/run/docker.sock:/var/run/docker.sock
        jenkins/jenkins:lts
      args:
        creates: /opt/jenkins/config.xml