---
- name: Install and configure PostgreSQL
  hosts: db1
  become: true

  vars:
    pg_data_dir: /var/lib/postgresql/data

  tasks:
    - name: Update apk repositories
      apk:
        update_cache: yes

    - name: Install Python 3 and pip
      apk:
        name:
          - python3
          - py3-pip
        state: present

    - name: Install psycopg2 via apk
      apk:
        name: py3-psycopg2
        state: present

    - name: Install PostgreSQL
      apk:
        name:
          - postgresql
          - postgresql-contrib
        state: present

    - name: Ensure PostgreSQL service is started
      service:
        name: postgresql
        state: started
        enabled: true

    - name: Initialize PostgreSQL database (if not exists)
      command: su - postgres -c "initdb -D {{ pg_data_dir }}"
      args:
        creates: "{{ pg_data_dir }}/PG_VERSION"

    - name: Ensure PostgreSQL database exists
      community.postgresql.postgresql_db:
        name: "{{ hostvars[inventory_hostname].postgres_db }}"
        login_user: "{{ hostvars[inventory_hostname].postgres_user }}"
        login_password: "{{ hostvars[inventory_hostname].postgres_password }}"
        state: present

    - name: Ensure PostgreSQL user exists
      community.postgresql.postgresql_user:
        name: "{{ hostvars[inventory_hostname].postgres_user }}"
        password: "{{ hostvars[inventory_hostname].postgres_password }}"
        state: present

    - name: Grant privileges to user on database
      community.postgresql.postgresql_privs:
        database: "{{ hostvars[inventory_hostname].postgres_db }}"
        roles: "{{ hostvars[inventory_hostname].postgres_user }}"
        type: database
        privs: ALL
    - name: Check PostgreSQL is up
      community.postgresql.postgresql_ping:
        login_user: "{{ hostvars[inventory_hostname].postgres_user }}"
        login_password: "{{ hostvars[inventory_hostname].postgres_password }}"
        db: "{{ hostvars[inventory_hostname].postgres_db }}"
      register: pg_status

    - name: Show PostgreSQL ping result
      debug:
        var: pg_status