- name: Clone backend repo
  git:
    repo: "{{ app_repo_backend }}"
    dest: /home/viktor/backend
    version: main
    force: yes

- name: Start backend Docker Compose
  shell: |
    cd /home/viktor/backend &&
    docker compose down &&
    docker compose up -d --build
  args:
    executable: /bin/bash